<p>"Deine Reservierung für den Kurs <%= @product.name %> wurde vom Trainer bestätigt,
du kannst die Zahlung nun durch folgenden <%= link_to 'Link', @product_url %> oder die Kursübersicht unter "Mein Account" abschließen."</p>