.pages {
  display: flex;
  flex-direction: column;
  align-content: start;
  margin: 2rem auto;
  max-width: 114rem;
  padding: 0 3rem;
}

.second_menu_bar {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 3rem auto 0 auto;
  max-width: 114rem;
  padding: 0 20rem;
}

.second_menu_bar li {
  margin: 0 1rem;
}

.richtext {
  margin: 0 auto;
  max-width: 114rem;
  padding: 0 3rem;
}

.content_images {
  row-gap: 4rem;
  column-gap: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  margin: 2rem auto;
  max-width: 114rem;
  padding: 0 3rem;
}

.content_images img {
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  max-width: 100%;
}

.content_richtext_image_left, .content_richtext_image_right {
  display: flex;
  flex-flow: column;
  flex: 1 1 50%;
  justify-content: center;
  margin: 2rem auto;
  max-width: 114rem;
  column-gap: 2rem;
}

.content_richtext_image_left .item, .content_richtext_image_right .item {
  margin: 0 2rem;
}

.content_richtext_image_left img, .content_richtext_image_right img {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .content_richtext_image_left, .content_richtext_image_right {
    flex-flow: row nowrap;
  }

  .content_richtext_image_left .item, .content_richtext_image_right .item {
    width: 50%;
  }
}