.pages {
  display: flex;
  flex-direction: column;
  align-content: start;
  margin: 2rem;
  max-width: 1000px;
}

.child_menu {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 3rem auto;
  max-width: 1000px;
  padding: 0;
}

.child_menu li {
  margin: 0 1rem;
}

.sub__menu {
  background-color: white;
  border: 1px solid black;
  display: none;
  flex-flow: column nowrap;
  list-style-type: none;
  padding: 0;
  position: absolute;
  top: 24px;
  width: max-content;

  &__container {
    position: relative;
  }

  &__item {
    margin-right: 8px;
  }

  &__toggle {
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    right: -34px;
    margin-right: 18px;
  }
}

.active {
  font-weight: bold;
}
.active + .sub__menu {
  display: flex;
}

.richtext {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 2rem;
}

.content_images {
  column-gap: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin: 2rem;
  max-width: 1000px;
  row-gap: 2rem;
}

.content_images img {
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  max-width: 100%;
}

.content_richtext_image_left, .content_richtext_image_right {
  column-gap: 2rem;
  display: flex;
  flex-flow: column;
  flex: 1 1 50%;
  justify-content: center;
  margin: 2rem;
  max-width: 1000px;
}

.content_richtext_image_left img, .content_richtext_image_right img, .content_three_card_teaser img {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 1rem;
  max-width: 100%;
}

.content_embed {
  display: flex;
  justify-content: center;
  margin: 4rem auto;
  max-width: 1000px;
  padding: 0 3rem;
}

.content_embed iframe {
  max-width: 100%;
}

.content_stage {
  margin-bottom: 2em;

  &__image {
    width: 100%;
  }
}

.content_three_card_teaser {
  column-gap: 2em;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  margin-bottom: 2em;
  max-width: 100%;
}

.content_three_card_teaser img {
  object-fit: cover;
}

.content_center_image {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 16px;
}

.content_center_image img {
  aspect-ratio: 1/1;
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .pages {
    padding: 0;
  }

  .content_images {
    grid-template-columns: 1fr 1fr;
  }

  .content_richtext_image_left, .content_richtext_image_right {
    flex-flow: row nowrap;
    padding: 0;
  }

  .content_richtext_image_left .item, .content_richtext_image_right .item {
    width: 50%;
  }
}

@media screen and (min-width: 992px){
  .content_images, .content_richtext_image_left, .content_richtext_image_right, .pages, .second_menu_bar {
    margin: 2rem auto;
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  
}