.mobile__header {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  @media screen and (min-width: 768px) {
    display: none;
  }

}

.mobile__header__menu {
  display: none;
  list-style-type: none;
  margin: 0;

  .sub__menu {
    display: none;
    flex-flow: column nowrap;
    list-style-type: none;
    width: max-content;

    &__toggle {
      font-size: 24px;
    }
  }
}

.mobile__header__menu.open {
  display: block;
}


.active + .sub__menu {
  display: flex;
}