<header class="header">
  <div class="header__secondary-navigation">
    <div class="cart-link" id="link-to-cart">
      <noscript>
        <%= link_to t('spree.cart'), spree.cart_path %>
      </noscript>
    </div>
    <script>
      Solidus.fetch_cart('<%= j spree.cart_link_path %>')
    </script>
    <%= render partial: "spree/layouts/mobile_header", locals: { menu: Spree::Menu.find_by(link_text: "Header") } %>
    <%= render partial: "spree/layouts/desktop_header", locals: { menu: Spree::Menu.find_by(link_text: "Header") } %>
  </div>
</header>
