<section class="content_<%= cb.content_type %>">
  <div class="item">
    <%= raw cb.body_1 %>
  </div>
  <div class="item">
    <%= image_tag cb.content_images.first.image.variant(:product).processed.url, alt: cb.content_images.first.alt if cb.content_images.present? %>
  </div>
</section>