<section class="content__<%= cb.content_type %>">
  <%= image_tag cb.content_images.first.image.variant(:large).processed.url, class:"content__stage__image" if cb.content_images.present? %>
</section>