<%
  participant = product.participants.select{ |participant| participant.user.eql? spree_current_user }.first
  if participant.present? 
    message = participant.state_message
    registered = 'registered'
  end
%>

<picture class="product-image <%= registered %>">
  <% if product.gallery.images.first.present? %>
    <%= render(ImageComponent.new(
      image: product.gallery.images.first,
      size: :product,
      itemprop: 'image',
      data: { js: 'product-main-image' }
    )) %>
  <% else %>
    <%= image_tag 'placeholder_products.jpg' %>
  <% end %>
  <p><%= message %></p>
</picture>
